@mixin breakpoint ($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

.app {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #222;

}

.wrapper {
    padding: 1em 2em;
    width: 100%;
}

