/* .Search {
    margin-right: 10px;
} */

/* .poster {
    width: 150px;
    border-radius: 10px;
    min-height: 210px;
} */

/* .posterWrap {
    width: 170px;
    height: 240px;
    text-align: center;
    margin-bottom: 3em;
} */

.searchMovie {
    margin-top: 1em;
}

.form {
    display: flex;
    justify-content: center;
}

.input {
    border-radius: 5px;
    border: none;
    padding: 0.5em;
    margin-right: 2px;
}


.movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}